.button {
  cursor: pointer;
  background: transparent;
  color: teal;
  border: 2px solid teal;
  padding: 12px 16px;
  border-radius: 25px;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  transition-property: color, background-color;
}

.button:hover {
  background: teal;
  color: white;
}
